---
title: false
styles: true
---

// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #05bf85 !default;

// Text colours
$headingColour: #242e2b !default;
$bodyColour: #384743 !default;
$linkColour: #010201 !default;
$hoverColour: #05bf85 !default;
$focusColour: #fa407a !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;


$headingtype: (
  font-family: '"Merriweather", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;



@import "alembic";

// Site-wide base styles.
body {
  font-size: 1rem !important;
}

// header > .container{
//   background-color: transparent !important;
//   position: absolute;
//   margin-left: 5%;
//   a {
//     color: white !important;  
//   }
//   a:hover{
//     color: #05bf85 !important;
//   }
// }

// header {
//   .feature {
   
//   }
  
// }


.container { width: 90%; max-width: 1600px; margin: 0 auto; }